 <div class="display-mid">

        {{#each data.allBooks}}

        <div class="book-display-shops">
            <div class="book-image">
                <div class="shops-img">
                    <img src={{image_url}} alt="img">
                </div>
            </div>
            <div class="book-display-detail">
                <h2>{{name}}</h2>
                <h5>Seller: <a href="/sellers/{{seller_id}}">{{seller_name}}</a></h5><br>
                <p>{{substring}}</p><br>
                <h2>₹ {{price}}</h2>
            </div>
            <div class="book-display-cta">
                <a href="/books/{{book_id}}" class="btn">View Book</a>
            </div>
        </div>

        {{/each}}

    </div>