<header>
    <h1><a href="/">BookFair</a></h1>
    <input type="text" name="search" id="search" placeholder="Search Books" >
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>


<div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="auth-section">
                <div class="auth auth-l">
                    <h1>BookFair</h1>
                    {{#each errors}}
                        <div class="error">
                            <p>{{text}}</p>
                        </div>
                    {{/each}}
                    <div>
                        <form action="/buyer/login" method="POST">
                            <input type="text" placeholder="Full_Name" name="full_name" value={{full_name}}>
                            <input type="text" placeholder="Email" name="email" value={{email}}>
                            <input type="submit" value="Log In" class="btn">
                        </form>
                    </div>
                </div>
                <br><br>
                <div class="auth auth-s">
                    <p>Don't have an account?</p>
                    <a href="/buyer/new">Sign Up</a>
                </div>
            </div>
        </div>
    </div>