<header>
    <h1><a href="/">BookFair</a></h1>
    <input type="text" name="search" id="search" placeholder="Search Books" >
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>


    <div class="display-m">
        <h1 class="main-title">My Cart</h1>

        {{#each data.orderDetail}}

        <div class="cart-order">
            <div class="cart-book-image">
                <div class="cart-img">
                    <img src={{image_url}} alt="img">
                </div>
            </div>
            <div class="detail">
                <h2>{{book_name}}</h2>
                <h5>Seller: <a href="#">{{seller_name}}</a></h5><br>
                <h2>₹  {{price}}</h2><br>
                <span class="qty">{{quantity}}</span><br><br>
                <h1> Book Id: {{book_id}}</h1><br>

                <form action="" class="check">
                    <input style="width: 300px;" type="number" name="bookId" id="book_id" placeholder="Enter book id listed above To Delete Order" value={{bookId}}><br><br>
                    <input type="submit" value="Delete Order" class="btn" style="width: 300px;">
                </form>
            </div>
        </div>

        {{/each}}

    </div>

    {{#each data.total}}

    <div class="total">
        <h1>Total Amount <span>₹ {{sum}}</span></h1>
        <button class="btn">Proceed To Buy</button>
    </div>


    {{/each}}