<header>
    <h1><a href="/">BookFair</a></h1>
    <form action="/books/search">
        <input type="text" name="term" id="search" placeholder="Search Books" >
        <input type="submit" value="Search" class="srch-btn">
    </form>
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>

<div class="overlay-container-hero">
        <div class="overlay-hero"></div>
        <h1>We live to server <br>book lovers.</h1>
        <button>Get Started</button>
    </div>

    <div class="shops">
        <h1 class="home-title">Featured Tabs</h1>
        <ul>
            <a href="/sellers/"><li>View All Sellers</li></a>
            <a href="/books/"><li>View All Books</li></a>
        </ul>
    </div>

    <div class="category">

        <h1 class="home-title">Trending This Week</h1>
        <div class="books-display-category">

            {{#each data.trending}}

            <div class="book-cover-home">
                <a href="/books/{{book_id}}">
                    <div class="book-img-home">
                        <img src={{image_url}} alt="img">
                    </div>
                </a>
                <h3><a href="/books/{{book_id}}">{{name}}</a></h3>
                <h5><a href="/sellers/{{seller_id}}">{{full_name}}</a></h5>
                <h2>₹ {{price}}</h2>
            </div>

            {{else}}
            <p>No Trending Books Available</p>

            {{/each}}

        </div>

    </div>

    <div class="category">

        <h1 class="home-title">Top Selling</h1>
        <div class="books-display-category">

        {{#each data.topSelling}}

            <div class="book-cover-home">
                <a href="/books/{{book_id}}">
                    <div class="book-img-home">
                        <img src={{image_url}} alt="img">
                    </div>
                </a>
                <h3><a href="/books/{{book_id}}">{{name}}</a></h3>
                <h5><a href="/sellers/{{seller_id}}">{{full_name}}</a></h5>
                <h2>₹ {{price}}</h2>
            </div>

        {{else}}
            <p>No Top Selling Books Available</p>

        {{/each}}


        </div>
    </div>

    <div class="category">
        <h1 class="home-title">Best In Stock</h1>
        <div class="books-display-category">

        {{#each data.bestINStock}}

            <div class="book-cover-home">
                <a href="/books/{{book_id}}">
                    <div class="book-img-home">
                        <img src={{image_url}} alt="img">
                    </div>
                </a>
                <h3><a href="/books/{{book_id}}">{{name}}</a></h3>
                <h5><a href="/sellers/{{seller_id}}">{{full_name}}</a></h5>
                <h2>₹ {{price}}</h2>
            </div>

        {{else}}
            <p>No Best In Stock Books Available</p>

        {{/each}}

        </div>
    </div>

    <div class="category">
        <h1 class="home-title">Recomended For You</h1>
        <div class="books-display-category">

        {{#each data.recomended}}

            <div class="book-cover-home">
                <a href="/books/{{book_id}}">
                    <div class="book-img-home">
                        <img src={{image_url}} alt="img">
                    </div>
                </a>
                <h3><a href="/books/{{book_id}}">{{name}}</a></h3>
                <h5><a href="/sellers/{{seller_id}}">{{full_name}}</a></h5>
                <h2>₹ {{price}}</h2>
            </div>

        {{else}}
            <p>No Recomended Books Available</p>

        {{/each}}


        </div>
    </div>