<header>
    <h1><a href="/">BookFair</a></h1>
    <form action="/books/search">
        <input type="text" name="term" id="search" placeholder="Search Books" >
        <input type="submit" value="Search" class="srch-btn">
    </form>
    <div>
        <a href="/buyer/{{authId}}/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/buyer/{{authId}}"><i class="fas fa-user-alt"></i></a>
    </div>
</header>
 <div class="display-mid">

        {{#each data.searchBooks}}

        <div class="book-display-shops">
            <div class="book-image">
                <div class="shops-img">
                    <img src={{image_url}} alt="img">
                </div>
            </div>
            <div class="book-display-detail">
                <h2>{{name}}</h2>
                <h5>Seller: <a href="/sellers/{{seller_id}}">{{seller_name}}</a></h5><br>
                <p>{{substring}}</p><br>
                <h2>₹ {{price}}</h2>
            </div>
            <div class="book-display-cta">
                <a href="/books/{{book_id}}" class="btn">View Book</a>
            </div>
        </div>

        {{/each}}

    </div>