 {{#each data.bookInfo}}

 <div class="display-b">
        <div class="book-section-one">
            <div class=" b-book-image">
                <div class="b-img">
                    <img  class="b-img" src={{image_url}} alt="book-img">
                </div>
            </div>
            <div class="b-detail">
                <h2>{{name}}</h2>
                <h5>Seller: <a href="/sellers/{{seller_id}}">{{full_name}}</a></h5><br>
                <h2>₹  {{price}}</h2><br>
                <a href="/" class="btn">Delete Book</a>
            </div>
        </div>
        <div class="book-section-two">
            <h4>Description:</h4><br>
            <p>{{description}}</p>
            </div>
</div>

{{/each}}