{{#each data.sellerDetails}}

    <div class="dashboard">
        <div class="banner-d"></div>
        <div class="profile-d">
            <i class="fas fa-user-tie"></i>
        </div>
        <div class="display-dashboard">
            <div>
                <h3>Seller's Full-Name</h3>
                <p>{{full_name}}</p><br>
                <h3>Email</h3>
                <p>{{email}}</p><br>
                <h3>Phone Number</h3>
                <p>{{phone_number}}</p><br>
            </div>
            <a href="/seller/{{seller_id}}/orders" class="btn mr-b">View My Orders</a>
            <a href="/seller/{{seller_id}}/books" class="btn mr-b">View My Books</a>
        </div>
    </div>

{{/each}}