    {{#each data.sellerProfile}}

    <div class="bg-overlay-container">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="profile-section">
                <div class="banner-m"></div>
                <div class="profile-mid-mid">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="profile-display">
                    <h3>Seller's Name</h3>
                    <p>{{full_name}}</p>
                    <h3>Shop-Name</h3>
                    <p>{{shop_name}}</p>
                    <h3>Email</h3>
                    <p>{{email}}</p>
                    <h3>Phone Number</h3>
                    <p>{{phone_number}}</p>
                    <a href="/sellers/{{seller_id}}/books" class="btn">Visit Shop</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p>Seller Unavaliable!</p>
    {{/each}}